.navbar {
    --size-logo : 40px;
    --padding-navbar :1rem;
}

.wrapper {
    background-color: aqua;
    min-width: calc(var(--size-logo) + var(--padding-navbar) * 2);
    max-width: calc(var(--size-logo) + var(--padding-navbar) * 2);
    overflow: hidden;
    height: 100%;
}

.actions_container {
    margin : 1rem;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    border: solid 1px red; 
}

.links_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.action {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text {
    visibility: hidden;
}

.searchbar_container {
    border: 1px solid red; 
    padding: 1rem 0;

    display: flex;
    justify-content: center;
}

.search_bar {
    display: none;
}

.burger_menu {
    height: 100%;
    cursor: pointer;
}

.search_icon {

}

.icon {
    min-width: var(--size-logo);
    max-width: var(--size-logo);
    height: auto;
}

